{% extends 'base.html' %}


{% block content %}
<h2>Book List</h2>
<div class="book-container">
  {% for book in books %}  
    <div class="book">
      <header class="book-header"><a href="books/{{books.index(book)}}"> {{ book.title }} </a></header>
      <article class="book-info">
      Author:&nbsp;&nbsp;{{ book.author }} <br>
      Genre:&nbsp;&nbsp;{{ book.genre}} <br>
      </article>
      {% if book.checked_out %}
      <aside class="aside book-checked-out">&#9201;  Checked Out!</aside>
      <aside class="aside book-checked-out-options">
        <form class="check-in" action="/books/check_in/{{ books.index(book) }}" method="post">
          <input type="submit" value="Return Book">
        </form>
      </aside>
      {% else %}
      <aside class="aside book-checked-out">&#9989;  Available</aside>
      <aside class="aside book-checked-out-options">
        <form class="check-out" action="/books/check_out/{{ books.index(book) }}" method="post">
        <input type="submit" value="Checkout Book"></form>
      </aside>
      {% endif %}
      <footer class="book-footer">
      <form class="delete" action="/books/delete/{{ books.index(book) }}" method="post">
      <input type="submit" value="Delete Book">
      </form>
      </footer>
    </div>
  {% endfor %}
  </div>

<br>
<h2>Add to Library</h2>
<form class="add_book" action="/books" method="post">
  <ul class="form-wrapper">
    <li class="form-row">
      <label for="title">Title</label>
      <input type="text" name="title" id="title">
    </li>
    <li class="form-row">
      <label for="author">Author</label>
      <input type="text" name='author' id="author">
    </li>
    <li class="form-row">
      <label for="genre">Genre</label>
      <input type="text" name="genre" id="genre">
    </li>
    <li class="form-row">
      <label for="description">Description</label>
      <textarea name="description" id="description"></textarea>
    <li class="form-row">
      <label for="checked_out">Checked Out?</label>
      <input type="checkbox" name="checked_out" id="checked_out" value = "true">
    </li>
    <li class="form-row">
      <button class="add-book-button" type="submit">Add Book</button>
    </li>
  </ul>
</form>

{% endblock %}